Repository fakenos/fakenos: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, pylint

black:
  name: black
  entry: black fakenos
  language: system
  args:
  - --line-length=88

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --max-complexity=19
  - --select=B,C,E,F,W,T4,B9
  - --ignore=F403,E402,E722,E203,W503,C901,E501

bandit:
  name: bandit
  language: system
  entry: bandit

pylint:
  name: pylint
  language: system
  entry: pylint .
  args:
  - --rcfile=pylintrc

Tests for the cmd shell completed. It was missing a key feature I personally love: the help command. We had it, but we didn't document it... Now we do.
  tests/assets/module.py
  tests/assets/yaml_nos.yaml
  tests/core/test_nos.py
  tests/plugins/test_cmd_shell.py
Due: black

added the documentation for the help command
  docs/index.ca.md
  docs/index.en.md
  docs/index.es.md
Due: pylint

Ready for release v1 🎉 Please, checkout the message in the release v1.0.0
  pyproject.toml
Due: bandit, pylint

updated workflows
  .github/workflows/main.yml
Due: bandit, pylint

This commit solves the issue #16.
  fakenos/core/nos.py
  fakenos/plugins/nos/__init__.py
  tests/core/test_nos.py
Due: black, flake8, bandit, pylint

Updated version to v1.0.1
  pyproject.toml
Due: bandit, pylint

Implemented `with`.
  docs/examples/automatic_testing.ca.md
  docs/examples/automatic_testing.en.md
  docs/examples/automatic_testing.es.md
  fakenos/core/fakenos.py
  tests/core/test_fakenos.py
Due: black, flake8, bandit, pylint

Fixed small bug in catalan docs
  docs/development/creating_nos_plugin.ca.md
  mkdocs.yml
Due: black, flake8, bandit, pylint

Implemented the `with` statement.
  fakenos/core/fakenos.py
  tests/plugins/nos/__init__.py
Due: black, flake8, bandit, pylint

Added decorator for fakenos.
  docs/examples/automatic_testing.ca.md
  docs/examples/automatic_testing.en.md
  docs/examples/automatic_testing.es.md
  fakenos/core/fakenos.py
  tests/core/test_fakenos.py
Due: black, flake8, bandit, pylint

[WIP] Hot reload for device running. Leftover the tests and test how it works with modules.
  fakenos/plugins/shell/cmd_shell.py
  fakenos/plugins/utils/cli.py
Due: black, flake8, bandit, pylint

Feature hot reload completed.
  .gitignore
  docs/development/extras.ca.md
  docs/development/extras.en.md
  docs/development/extras.es.md
  fake_nos.yaml
  fakenos/plugins/nos/platforms_py/cisco_ios.py
  fakenos/plugins/nos/platforms_py/templates/cisco_ios/show_running-config.jinja
  fakenos/plugins/nos/platforms_py/templates/cisco_ios/show_version.jinja
  fakenos/plugins/shell/cmd_shell.py
  fakenos/plugins/shell/utils.py
  fakenos/plugins/utils/cli.py
  inventory.yaml
  mkdocs.yml
  tests/plugins/test_cmd_shell.py
  tests/plugins/test_shell_utils.py
Due: black, flake8, bandit, pylint

[WIP] I'm currently trying to create a device class for each device. The idea is that each device keeps its own record state. Difficult...
  fakenos/core/nos.py
  fakenos/plugins/nos/platforms_py/cisco_ios.py
  fakenos/plugins/nos/platforms_py/configurations/huawei_smartax.yaml.j2
  fakenos/plugins/nos/platforms_py/templates/cisco_ios/show_running-config.j2
  fakenos/plugins/nos/platforms_py/templates/cisco_ios/show_version.j2
  fakenos/plugins/shell/utils.py
  tests/plugins/test_cmd_shell.py
  tests/plugins/test_shell_utils.py
Due: black, flake8, bandit, pylint

Lazy loading is done
  fakenos/core/host.py
  fakenos/core/nos.py
  fakenos/core/pydantic_models.py
  fakenos/plugins/nos/__init__.py
  fakenos/plugins/nos/platforms_py/arista_eos.py
  fakenos/plugins/nos/platforms_py/base_template.py
  fakenos/plugins/nos/platforms_py/cisco_ios.py
  fakenos/plugins/nos/platforms_py/configurations/huawei_smartax.yaml.j2
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
  fakenos/plugins/nos/platforms_py/templates/arista_eos/show_clock.j2
  fakenos/plugins/nos/platforms_py/templates/arista_eos/show_ip_int_br.j2
  fakenos/plugins/nos/platforms_py/templates/arista_eos/show_running-config.j2
  fakenos/plugins/nos/platforms_py/templates/arista_eos/show_version.j2
  fakenos/plugins/nos/platforms_py/templates/huawei_smartax/display_board.j2
  fakenos/plugins/shell/cmd_shell.py
  fakenos/plugins/utils/cli.py
  pyproject.toml
  tests/assets/module.py
  tests/core/test_fakenos.py
  tests/core/test_netmiko.py
  tests/core/test_nos.py
  tests/plugins/test_platforms.py
Due: black, flake8, bandit, pylint

[WIP] Still need to fix the tests and add a test that checks all the commands can be ran.
  fakenos/plugins/nos/platforms_py/configurations/huawei_smartax.yaml.j2
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
  fakenos/plugins/nos/platforms_py/templates/huawei_smartax/display_board.j2
  fakenos/plugins/shell/cmd_shell.py
  fakenos/plugins/shell/utils.py
Due: black, flake8, bandit, pylint

[WIP] Look previous commit message
  fakenos/core/nos.py
  fakenos/plugins/nos/platforms_py/arista_eos.py
  fakenos/plugins/nos/platforms_py/base_template.py
  fakenos/plugins/nos/platforms_py/cisco_ios.py
  fakenos/plugins/nos/platforms_py/configurations/arista_eos.yaml.j2
  fakenos/plugins/nos/platforms_py/configurations/cisco_ios.yaml.j2
  fakenos/plugins/nos/platforms_py/configurations/huawei_smartax.yaml.j2
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
  fakenos/plugins/shell/cmd_shell.py
  tests/assets/configurations/test_module.yaml.j2
  tests/assets/module.py
  tests/plugins/test_platforms.py
Due: black, flake8, bandit, pylint

Modifiable outputs
  fakenos/core/nos.py
  fakenos/plugins/nos/platforms_py/arista_eos.py
  fakenos/plugins/nos/platforms_py/base_template.py
  fakenos/plugins/nos/platforms_py/cisco_ios.py
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
  fakenos/plugins/servers/ssh_server_paramiko.py
  fakenos/plugins/shell/cmd_shell.py
  poetry.lock
  pyproject.toml
  tests/assets/configurations/test_module.yaml.j2
  tests/core/test_nos.py
  tests/plugins/test_platforms.py
  tests/utils.py
Due: black, flake8, bandit, pylint

[WIP] Documentation still in progress but already completely tested and usable :D
  docs/development/creating_new_platforms.ca.md
  docs/development/creating_new_platforms.en.md
  docs/development/creating_new_platforms.es.md
  docs/development/creating_nos_plugin.ca.md
  docs/development/creating_nos_plugin.en.md
  docs/development/creating_nos_plugin.es.md
  docs/platforms/huawei_smartax.md
  docs/usage/configurations.ca.md
  docs/usage/configurations.en.md
  docs/usage/configurations.es.md
  fakenos/core/host.py
  fakenos/core/nos.py
  fakenos/core/pydantic_models.py
  fakenos/plugins/nos/platforms_py/configurations/huawei_smartax.yaml.j2
  mkdocs.yml
  tests/assets/inventory_configuration.yaml
  tests/assets/module.py
  tests/assets/test_module.yaml.j2
  tests/core/test_fakenos.py
  tests/core/test_nos.py
Due: black, flake8, bandit, pylint

Several features added.
  docs/development/creating_nos_plugin.ca.md
  docs/development/creating_nos_plugin.en.md
  docs/development/creating_nos_plugin.es.md
  docs/usage/configurations.ca.md
  docs/usage/configurations.en.md
  docs/usage/configurations.es.md
  fakenos/core/host.py
  mkdocs.yml
Due: black, flake8, bandit, pylint

Missing `poetry update`
  poetry.lock
Due: bandit, pylint

Trying to fix a bug in Windows Github runners
  tests/plugins/test_cmd_shell.py
Due: black

Fixing tests on Github Runners images for Windows.
  tests/plugins/test_cmd_shell.py
Due: black

Black now is passing.
  tests/plugins/test_cmd_shell.py
Due: black

v1.1 ready
  README.md
  docs/index.ca.md
  docs/index.en.md
  docs/index.es.md
  pyproject.toml
Due: bandit, pylint

Changes links in the docs. During the transition it was in dmulyalin instead of fakenos
  README.md
  docs/usage/installation.en.md
  pyproject.toml
Due: bandit, pylint

WIP multiple services ( not working yet)
  fakenos/core/nos.py
  fakenos/plugins/nos/cli/base_template.py
  fakenos/plugins/nos/cli/huawei_smartax/huawei_smartax.py
  fakenos/plugins/nos/platforms/huawei_smartax.py
  fakenos/plugins/servers/cli/shell/cmd_shell.py
  fakenos/plugins/servers/cli/ssh_server_paramiko.py
Due: black, flake8, bandit, pylint

Update README.md
  README.md
Due: bandit, pylint

fixing tests
  .github/workflows/main.yml
  fakenos/core/host.py
  fakenos/core/nos.py
  fakenos/plugins/servers/ssh_server_paramiko.py
  fakenos/plugins/shell/cmd_shell.py
  poetry.lock
  pyproject.toml
  tests/plugins/test_ssh_server_paramiko.py
Due: black, flake8, bandit, pylint

dummy commit
  CODE_OF_CONDUCT.md
Due: black, flake8, bandit, pylint

dummy commit to force docs to rebuild
  poetry.lock
  pyproject.toml
Due: bandit, pylint

Adding Devcontainer
  .devcontainer/devcontainer.json
Due: black, flake8, bandit, pylint

Solves issue #27
  .github/workflows/docs.yml
  .github/workflows/main.yml
  docker/Dockerfile
  docker/docker-compose.yaml
  fakenos/core/fakenos.py
  fakenos/core/host.py
  fakenos/core/nos.py
  fakenos/core/pydantic_models.py
  fakenos/core/servers.py
  fakenos/plugins/nos/platforms_py/arista_eos.py
  fakenos/plugins/nos/platforms_py/base_template.py
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
  fakenos/plugins/servers/ssh_server_paramiko.py
  fakenos/plugins/shell/cmd_shell.py
  poetry.lock
  pyproject.toml
  tasks.py
  tests/core/test_docker.py
  tests/core/test_fakenos.py
  tests/core/test_host.py
  tests/core/test_netmiko.py
  tests/core/test_nos.py
  tests/core/test_servers.py
  tests/plugins/test_cmd_shell.py
  tests/plugins/test_platforms.py
  tests/plugins/test_shell_utils.py
  tests/plugins/test_ssh_server_paramiko.py
  update_platforms.py
  uv.lock
Due: black, flake8, bandit, pylint

Fix linting issues
  fakenos/plugins/nos/platforms_py/huawei_smartax.py
Due: black, flake8, bandit, pylint

Supressing python version 3.8, 3.9, & 3.10
  .github/workflows/main.yml
Due: bandit, pylint

fixing pipeline
  .github/workflows/main.yml
Due: bandit, pylint

Create CNAME
  CNAME
Due: black, flake8, bandit, pylint

FIxing docs pipeline
  .github/workflows/docs.yml
Due: bandit, pylint

Updated Python version requirement to support Python 3.14.
  .github/workflows/docs.yml
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
  tasks.py
Due: black, flake8, bandit, pylint

Path conditions:
  black: any file but: ^docs/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$|README.md|pyproject.toml|poetry.lock|\.github/.*
  flake8: any file but: ^tests/|^docs/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$|README.md|pyproject.toml|poetry.lock|\.github/.*
  bandit: any file but: ^tests/|^docs/
  pylint: any file but: ^tests/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$
