Repository fakenos/fakenos: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, pylint

black:
  name: black
  entry: black fakenos
  language: system
  args:
  - --line-length=88

flake8:
  name: flake8
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --max-complexity=19
  - --select=B,C,E,F,W,T4,B9
  - --ignore=F403,E402,E722,E203,W503,C901,E501

bandit:
  name: bandit
  language: system
  entry: bandit

pylint:
  name: pylint
  language: system
  entry: pylint .
  args:
  - --rcfile=pylintrc

fixing ci/cd
  poetry.lock
  pyproject.toml
Due: bandit, pylint

fixing ci/cd
  .github/workflows/main.yml
Due: bandit, pylint

fixing ci/cd
  pyproject.toml
Due: bandit, pylint

fixing ci/cd
  poetry.lock
Due: bandit, pylint

Update GitHub Actions workflow and poetry.lock
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: bandit, pylint

Update GitHub Actions workflow and poetry.lock
  .github/workflows/main.yml
Due: bandit, pylint

yamllint disabled
  .github/workflows/main.yml
Due: bandit, pylint

disabling yamllint
  .github/workflows/main.yml
Due: bandit, pylint

updated the checkout versions
  .github/workflows/main.yml
Due: bandit, pylint

update docker setup in github main.yml pipeline
  .github/workflows/main.yml
Due: bandit, pylint

updated macos pipeline to latest
  .github/workflows/main.yml
Due: bandit, pylint

take-out windows from the pipeline temporal
  .github/workflows/main.yml
Due: bandit, pylint

Fixing tests ci/cd
  .github/workflows/main.yml
Due: bandit, pylint

fixing types for python 3.8 and 3.9
  fakenos/core/fakenos.py
  fakenos/core/nos.py
  fakenos/core/pydantic_models.py
  tasks.py
  tests/core/test_docker.py
  tests/plugins/test_platforms.py
  tests/utils.py
  update_platforms.py
Due: black, flake8, bandit, pylint

skip docker tests in github actions
  tests/core/test_docker.py
Due: black

updated for python3.8
  fakenos/core/fakenos.py
  fakenos/core/pydantic_models.py
  fakenos/plugins/servers/ssh_server_paramiko.py
  tests/core/test_docker.py
  tests/core/test_fakenos.py
  update_platforms.py
Due: black, flake8, bandit, pylint

fixing problem with closing threads in windows
  fakenos/core/fakenos.py
  tests/core/test_netmiko.py
Due: black, flake8, bandit, pylint

Skip test that fails in windows (only related to linux)
  tests/core/test_servers.py
Due: black

formatted black
  fakenos/core/fakenos.py
  tests/core/test_netmiko.py
  tests/core/test_servers.py
Due: black, flake8, bandit, pylint

minor adjustment on ci/cd pipeline
  .github/workflows/main.yml
Due: bandit, pylint

minor adjustment ci/cd
  .github/workflows/main.yml
Due: bandit, pylint

fixing pipeline ci/cd
  .github/workflows/main.yml
Due: bandit, pylint

Changed readme.md
  README.md
Due: bandit, pylint

fixing small thing in docs
  docs/examples.md
Due: pylint

updated readme
  README.md
Due: bandit, pylint

updated platforms list
  docs/platforms.md
  fakenos/core/nos.py
  pyproject.toml
Due: black, flake8, bandit, pylint

Update FUNDING.yml
  .github/FUNDING.yml
Due: bandit, pylint

Changing the code owners file to work correctly and taking out the FUNDING.yml file as it is not used for now.
  .github/CODEOWNERS
  .github/FUNDING.yml
Due: bandit, pylint

After a few days lost trying to replicate the Github actions environment locally, I have finally the problem and a solution.
  docs/development/github_actions.md
  mkdocs.yml
Due: black, flake8, bandit, pylint

Changed the name of the CI/CD for docs
  .github/workflows/docs.yml
  mkdocs.yml
Due: black, flake8, bandit, pylint

Fixed small bugs in the tests (because of change in the file platforms.en.md). As well, it has been updated the library to Python 3.12 (now it works).
  .flake8
  poetry.lock
  pyproject.toml
  tasks.py
  tests/utils.py
Due: black, flake8, bandit, pylint

update the CI/CD pipeline (main.yml) to use as well python 3.12.
  .github/workflows/main.yml
Due: bandit, pylint

[WIP] Doing testing for ssh_server_paramiko
  fakenos/plugins/servers/ssh_server_paramiko.py
  tests/plugins/test_paramiko_server.py
  tests/plugins/test_ssh_server_paramiko.py
Due: black, flake8, bandit, pylint

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: black, flake8, bandit, pylint

Finished tests over the plugin ssh_server_paramiko
  fakenos/plugins/servers/ssh_server_paramiko.py
  tests/assets/ssh_host_rsa_key_with_password
  tests/assets/ssh_host_rsa_key_with_password.pub
  tests/plugins/test_ssh_server_paramiko.py
Due: black, flake8, bandit, pylint

I didn't run the `invoke tests` before pushing. My bad.
  fakenos/plugins/servers/ssh_server_paramiko.py
  tests/plugins/test_ssh_server_paramiko.py
Due: black, flake8, bandit, pylint

Path conditions:
  black: any file but: ^docs/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$|README.md|pyproject.toml|poetry.lock|\.github/.*
  flake8: any file but: ^tests/|^docs/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$|README.md|pyproject.toml|poetry.lock|\.github/.*
  bandit: any file but: ^tests/|^docs/
  pylint: any file but: ^tests/|gitignore|LICENSE|requirements|pre-commit-config|pylintrc|.*\.png$
